<div class="container mt-4">
  <h3>{{ bookId ? 'Редактирование книги' : 'Добавление новой книги' }}</h3>
  
  <form (ngSubmit)="saveBook()">
    <div class="mb-3">
      <label for="title" class="form-label">Название книги</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="book.title" name="title" required>
    </div>

    <div class="mb-3" *ngIf="book.author">
      <label for="authorLast" class="form-label">Фамилия автора</label>
      <input type="text" class="form-control" id="authorLast" [(ngModel)]="book.author.lastName" name="authorLast" required>
    </div>
    
    <div class="mb-3" *ngIf="book.author">
        <label for="authorFirst" class="form-label">Имя автора</label>
        <input type="text" class="form-control" id="authorFirst" [(ngModel)]="book.author.firstName" name="authorFirst" required>
    </div>

    <div class="mb-3">
      <label for="genre" class="form-label">Жанр</label>
      <input type="text" class="form-control" id="genre" [(ngModel)]="book.genre" name="genre">
    </div>

    <div class="mb-3">
        <label for="year" class="form-label">Год издания</label>
        <input type="number" class="form-control" id="year" [(ngModel)]="book.publicationYear" name="year">
    </div>

    <button type="submit" class="btn btn-success">Сохранить</button>
    <a routerLink="/books" class="btn btn-secondary ms-2">Отмена</a>
  </form>
</div>